<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>uploadEx</title>
</head>

<body>
<form name="frm" id-"frm" method="post" enctype="multipart/form-data">
	<input name="uploadFiles" type="file" multiple>
	<button type="button" class="uploadBtn">Upload</button>
	<br/><textarea id="content" name="content"></textarea>
	<div class="uploadResult"></div>
	<div class="uploadResultThum"></div>
</form>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

	<!--upload btn-->
	<script>

		$('.uploadBtn').click(() => {

            const formData = new FormData();

            const inputFile = $("input[type='file']");
            const content = $("#content").val();

			const files = inputFile[0].files;

            for(let i = 0; i < files.length; i++) {
                console.log(files[i]);
                formData.append("uploadFiles", files[i]);
                //console.log(formData);
			}
			formData.append("content", content);
			for (let key of formData.keys()) {
				console.log(key, ":", formData.get(key));
			}
			const showUploadedImages = arr => {
                console.log(arr);

                const divArea = $(".uploadResult");
                const divAreaThum = $(".uploadResultThum");

                for(let i = 0; i<arr.length; i++){
                    divArea.append("<img src='/display?fileName="+arr[i].imageURL+"' alt='..null'>");
                    divArea.append(arr[i].content);
                    //divAreaThum.append("<img src='/display?fileName="+arr[i].thumbnailURL+"' alt='..null'>");
				}
			}
            /*실제 업로드 부분*/
			/*upload ajax*/
			$.ajax({
				url: '/uploadAjax',
				processData: false,
				contentType: false, // 파일 업로드를 multipart/form-data 타입을 사용하기 위함
				data: formData,
				type: 'POST',
				dataType: 'json',
				success: result => {
                    console.log(result);
					showUploadedImages(result);
                },
				error: (jqXHR, textStatus, errorThrown) => {
                    console.log(textStatus)
				}
			})

		})

	</script>

</body>
</html>